.product-card__label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: tomato;
    color: white;
    transform: rotate(-20deg);
    font-size: 14px;
    font-weight: 700;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}